
#button:link,#button:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
 #button:hover,#button:active {
    background-color:aqua;
  }
  body{
      background-image: url("https://cdn.discordapp.com/attachments/886588893389029418/914454972454830130/background.jpg");
      max-width: 100%;
         }
    #oldbr{
        margin-top:5%;
        margin-left:30%;
        color:khaki ;
        border-bottom-style: ridge;
        border-color: moccasin;
        text-shadow:3px 3px 10px black;
        
    }
         h1{
         font-family:  verdana; font-size: 200%;text-align: center;
        border-radius: 10%;
        background-color: aqua;
        color:red;
        width: 70%;
        margin-left: 170px;
        border-bottom-style: outset;
        text-shadow:10x 10x 5px black;   
     }
    img{
        padding-top: 9%;
        width:60%;
        height:auto;
    }
    .test{
        border-top-style: groove;
        border-right-style: groove;
        width:max-content;
        height:max-content;
        margin:auto;
        
        
    }
    h3{
       color: rgb(214, 40, 40);
       font-size: xx-large;
       text-shadow: 2px 2px 5px black;
    }
    p1{
        font-size: larger;
        color:yellow;
        text-shadow: 1px 1px 3px black;
     
    }
    .nav{
        border-bottom:2px groove green;
        overflow: auto;
        border-radius: 4px;
        margin:auto;
        max-width:100%;
        
    }
    .nav ul{
        list-style: none;
        margin: 1px;
      
    }
    .nav a:hover, .nav a:visited{
        background-color:aqua;
        cursor:pointer;
    }
    .nav a:active{
        background-color: azure;

    }
    .nav a{
        padding: 6px 20px;
        margin: auto 27px;
        font-size: 24px;
        float:left;
        color: white;
        text-shadow:2px 2px 3px black;
        border-radius: 7%;

    }
    .searchbar{
        position: relative;
        right: 12px;
        float: right;
        bottom: 37px;
        border-bottom: 2px outset #868ffd;
        width: 22%;
    }
    .searchbar input{
        margin: 3px;
        padding: 5px;
        text-align: center;
        border:2px dotted;
        border-bottom-style:hidden;
        border-radius: 14px 0px 0px 14px;
    }
    ::placeholder{
        background-color: white;
        color:black;
        opacity:1;
    }

    .searchbar a:link,a:visited{
        padding: 4px 3px;
        cursor: pointer;
        font-size: 23px;
        color: white;
        display: inline-block;
        border-radius: 5px;    
        text-decoration: none;
        text-shadow: 2px 2px 5px black;
    }
    .searchbar a:hover,a:active{
        background-color: aqua;


    }
    